<!DOCTYPE html>
<html>
  <head>
    <h1><%= 'Addies Creations' %></h1>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to <%= 'Addies' %></p>

    <div class='1'>
      
    </div>
  </body>
</html>
